// sm 575px
// md 768px
// lg 992px
// xl 1200px
// xxl 1400px

.side-menu {
    width: 280px;
    height: 100vh;
    min-height: 100vh;
    display: block;
    float: left;
    background-color: var(--primary-color) !important;
    padding: 0px 0px;
    box-shadow: 0x 0px 10px 4px #00000030;
    margin-right: 16px;

    // @media (min-width: 769px) and (max-width: 1200px){
    //     width: 25%;        
    // }
}

img{ 
    vertical-align: bottom;
    width: 32px;
    height: 32px;
}

.menu-mobile{
    height: 32px;
    margin-top: 14px;
}

.menu-mobile-titulo { 
    align-self: center;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 7px;
    margin: 0 0 0 4px;
}

.li__titulo {
    padding: 14px 20px 14px 10px;
    align-items: baseline;
    
    // @media (min-width: 769px) and (max-width: 1200px){
    //     width: 25%;        
    // }
}
  
ul {
    padding: 0;
}
  
.span__titulo {
    font-size: 26px;
    font-weight: bold;
    margin-left: 4px;
    color: white;
    letter-spacing: 7px;
}

li {
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    padding: 14px 61px 14px 10px;
    width: 280px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.3s linear all;

    // @media (min-width: 769px) and (max-width: 1200px){
    //     width: 25%;        
    // }

    @media (width < 769px){
        width: auto;        
    }    

    &:hover {
        background: #e6e6e6;
        cursor: pointer;
        color: var(--primary-color);
    }
}

mat-icon {
    margin: 0px 5px 0px 5px;
    font-size: 24px;
}

.menu-mobile-icon {
    font-size: 32px;
}

.logout{
    position: absolute;
    bottom: 50px;
    width: 280px;

    @media (min-width: 769px){
        bottom: 0px;   
    }
}

a{ text-decoration: none;}
