
<div class="d-flex menu-mobile d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
  <div class="d-md-none">
    <mat-icon class="menu-mobile-icon">menu</mat-icon>
  </div>
  <img src="../../assets/logo.png"/>
  <span class="menu-mobile-titulo">Ata Online</span>
</div>

<div class="side-menu offcanvas-md offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-body p-0">
    <nav>
      <ul>
        <li class="justify-content-between li__titulo" (click)="getSessionUrlParameter('/home')">
          <div>
            <img src="../../assets/logo.png"/> 
            <span class="span__titulo">Ata Online</span>
          </div>
          <div data-bs-theme="dark">
            <button type="button" class="btn-close btn-sm d-md-none" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
          </div>
        </li>       
        <!-- <li routerLink="/home"> -->
        <li (click)="getSessionUrlParameter('/home')">
          <mat-icon>description</mat-icon>Ata
        </li>
        <!-- <li routerLink="/qrcode"> -->
          <li (click)="getSessionUrlParameter('/qrcode')">
          <mat-icon>qr_code</mat-icon>QRCode
        </li>
        <!-- <li routerLink="/registros"> -->
        <li (click)="getSessionUrlParameter('/registros')">
          <mat-icon>lists</mat-icon>Registros
        </li>
        @if (isAuthenticated) {
          <li (click)="getSessionUrlParameter('/criar-evento')">
            <mat-icon>post_add</mat-icon>Cadastrar Evento
          </li>
          <li (click)="getSessionUrlParameter('/criar-evento/edit')">
            <mat-icon>edit_note</mat-icon>Editar Status Evento
          </li>
        } @else {
          <li (click)="getSessionUrlParameter('/auth/login')">
            <mat-icon>login</mat-icon>Entrar
          </li>
        }
        <a href="https://github.com/leandromelolm/ata-online" target="_blank">
          <li>
            <mat-icon>code</mat-icon>Projeto no Github
          </li>
        </a>      
        <li (click)="logout()" class="logout">
          <mat-icon>logout</mat-icon>Sair
        </li>
      </ul>
  </nav>
  </div>
</div>