
<div class="d-flex menu-mobile d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
  <div class="d-md-none">
    <mat-icon class="menu-mobile-icon">menu</mat-icon>
  </div>
  <img src="../../assets/logo.png"/>
  <span class="menu-mobile-titulo">Ata Online</span>
</div>

<div class="side-menu offcanvas offcanvas-md offcanvas-start" [ngClass]="{ 'offcanvas': isMobile }" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-body p-0">
    <nav>
      <ul>
        <li class="justify-content-between li__titulo" (click)="getSessionUrlParameter('/home')" [attr.data-bs-dismiss]="isMobile ? 'offcanvas' : null">
          <div>
            <img src="../../assets/logo.png"/> 
            <span class="span__titulo">Ata Online</span>
          </div>
          <div data-bs-theme="dark">
            <button type="button" class="btn-close btn-sm d-md-none" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
          </div>
        </li>
        <li (click)="getSessionUrlParameter('/home')" [attr.data-bs-dismiss]="isMobile ? 'offcanvas' : null">
          <mat-icon>home</mat-icon>{{isAuthenticated ? 'Olá, ' + username : 'Olá, visitante'}}
        </li>
        <!-- <li routerLink="/ata"> -->
        <li (click)="getSessionUrlParameter('/ata')" [attr.data-bs-dismiss]="isMobile ? 'offcanvas' : null">
          <mat-icon>description</mat-icon>Ata
        </li>
          <li (click)="getSessionUrlParameter('/qrcode')" [attr.data-bs-dismiss]="isMobile ? 'offcanvas' : null">
          <mat-icon>qr_code</mat-icon>QRCode
        </li>
        <li (click)="getSessionUrlParameter('/registros')" [attr.data-bs-dismiss]="isMobile ? 'offcanvas' : null">
          <mat-icon>lists</mat-icon>Registros
        </li>
        @if (isAuthenticated) {
          <li (click)="getSessionUrlParameter('/meus-eventos')" [attr.data-bs-dismiss]="isMobile ? 'offcanvas' : null">
            <mat-icon>edit_note</mat-icon>Meus Eventos
          </li>
        } @else {
          <li (click)="getSessionUrlParameter('/auth/login')" [attr.data-bs-dismiss]="isMobile ? 'offcanvas' : null">
            <mat-icon>login</mat-icon>Entrar
          </li>
        }
        <a (click)="confirmRedirectPage()">
          <li>            
            @if (!confirmeRedirecionar) {<mat-icon>code</mat-icon> Projeto no Github}
            @else {Clique novamente para ser redirecionado}
          </li>
        </a>
        <li (click)="logout()" class="logout" [attr.data-bs-dismiss]="isMobile ? 'offcanvas' : null">
          <mat-icon>logout</mat-icon>Sair
        </li>
      </ul>
  </nav>
  </div>
</div>

<!-- <app-loading [show]="isLoading" message="Carregando dados..."></app-loading> -->
<app-loading [show]="isLoading" [message]="messageLoading"></app-loading>