.container{
    text-align: center;
    display: grid;
    place-items: center; /* Centraliza horizontal e verticalmente */
    height: 100vh;
}

.titulo{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 7px;
    color: var(--primay-color);
    padding: 0;
    margin-bottom: 6px;
}

.subtitulo{
    font-size: 16px;
    font-weight: 300;
    color: var(--gray-color);
    margin: 0px 0px 30px 0px;
    padding: 0;
    text-align: center;
}

.preview-image {
    // width: 50%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

a{ 
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.btn-link{
    text-decoration: none;
}

.form__container {
    max-width: 500px;
    width: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (width < 768px) {
        width: auto;
    }
}

.div__label {
    text-align: start;
    font-size: small;
    padding: 0px 0px 0px 2px;
    font-weight: 600;
}

.input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    text-transform: uppercase;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

.btn-submit-form {
    margin-top: 8px;
    max-width: max-content;
    align-self: center;
}

.file-input {
    display: none;
}

.div__info-reuniao_aberta{
    margin: 0 0 0 0;
    color: green;
    font-weight: 500;
    font-size: medium;
    padding-bottom: 10px;
}

.div__info-reuniao_fechada{
    // margin: 0 0 0 280px;
    color: red;
    font-weight: 500;
    font-size: medium;
    // position: absolute;
    // position-area: center;
    display: grid;
    place-items: center;
}

.success-msg {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    border-radius: 25px;
    padding: 10px;
    margin-top: 40px;
    font-weight: 500;
    font-size: medium;
}

.error-msg {
    color: red; 
    margin-top: 20px;
}

.mat__spinner {
    margin: 0 auto 30px auto;
}

::ng-deep .mat__spinner circle {
    // stroke: #2541e0;
    stroke: #ea33f7;
}

.h3__formulario {
    margin: 2px 0 0 0;
}

.input__error {
    text-align: left;
    padding: 0 0 0 10px;
    display: block;
    color: #ff0000;    
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
