<div class="container">    
    
    <div class="pt-2 mb-2">
        <!-- <h2 (click)="redirectLogin()" class="titulo">Ata Online [Beta]</h2> -->
        <span class="subtitulo">Registro de presença online</span>
    </div>

    <mat-spinner *ngIf="isSpinner" class="mat__spinner" color="warn"></mat-spinner>

    <div *ngIf="!isMeeting">
        <div class="div__info-reuniao_fechada">
            {{infoReuniao}}
        </div>
    </div>

    <div *ngIf="isMeeting">

        <div class="div__info-reuniao_aberta">
            {{infoReuniao}}
        </div>
        
        <div class="row">
            <div class="left__container col-md">
                <div class="div__camera" *ngIf="isLocationActive && !successMessage">        
                    <app-camera (enviarParaForm)="receberValorDaCamera($event)" *ngIf="valorRecebido === 'mostrar'"></app-camera>
                    
                    <app-button textButton="Tirar outra foto" (click)="alterarValor('mostrar')" *ngIf="valorRecebido === 'ocultar'"></app-button>
                    
                    <div *ngIf="valorRecebido === 'ocultar' && imageUrl">
                        <h4 class="mb-0">Pré-visualização:</h4>
                        <img  class="preview-image" [src]="imageUrl" alt="Pré-visualização da imagem">
                    </div> 
                </div>
                
                <div *ngIf="!isLocationActive" class="d-grid">
                    <h3 class="mt-4">Ative a localização e permita o acesso. Em seguida atualize a página para poder prosseguir com o registro</h3>
                    <button (click)="reloadPage()" class="mt-4 mb-4 btn btn-link">Atualizar Página</button>
                </div>
                
                <app-location (enviarEnderecoParaFormComponent)="receberValorDaLocalizacao($event)" class="mt-2"></app-location>
            </div>

            <div class="right__container col-md" *ngIf="isLocationActive && imageUrl">
                <h3 class="h3__formulario">Formulário</h3>
                <div class="form__container">
                    <div>
                        <input class="file-input" type="file" (change)="onFileSelected($event)" [disabled]="!userName" />
                        <input id="inputUserName" class="input-field" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" (ngModelChange)="onUserNameChange()" 
                            placeholder="Digite seu nome" (blur)="onBlurUserName()">
                        <div id="msgUserName" class="input__error" *ngIf="!userName && errorInputUserName">Campo nome é obrigatório.</div>
                    </div>
                    <div>
                        <input class="input-field" type="number" [(ngModel)]="matricula" [ngModelOptions]="{standalone: true}" mask="00000000000" 
                            placeholder="Digite o número da matrícula" (blur)="onBlurMatricula()">
                        <div class="input__error" *ngIf="!matricula && errorInputMatricula">Campo matrícula é obrigatório.</div>
                    </div>
                    <input class="input-field d-none" [(ngModel)]="cpf" [ngModelOptions]="{standalone: true}" mask="000.000.000-00" placeholder="Digite o número do cpf">
                    <input class="input-field" type="number" [(ngModel)]="distrito" [ngModelOptions]="{standalone: true}" mask='0' placeholder="Digite seu distrito">
                    <input class="input-field" [(ngModel)]="unidade" [ngModelOptions]="{standalone: true}" placeholder="Digite nome da sua unidade">      
                    
                    <app-button class="btn-submit-form" [btnColor]="validarCampos()" *ngIf="selectedFile" (click)="submitForm()" [disabled]="isLoading" [textButton]="buttonText"></app-button>
                </div>
            </div>
        </div>

        
        <div *ngIf="successMessage" class="success-msg">
            <div class="d-grid">
                <div class="mb-2">{{ successMessage }}</div>
                <div>ID: {{ sheetId }}</div>            
            </div>
        </div>
        <div *ngIf="errorMessage" class="error-msg">
            {{ errorMessage }}
        </div>
        
        <div class="mt-4 mb-4">
            <button *ngIf="successMessage" (click)="reloadPage()" class="mt-4 mb-4 btn btn-link">Fazer novo registro</button>
        </div>
        
    </div>

    <div class="mt-4 mb-4" *ngIf="!isMeeting">
        <button (click)="reloadPage()" class="mt-4 mb-4 btn btn-link">Atualizar Página</button>
    </div>
    
    <div class="mt-4 mb-4">
        <button (click)="sair()" class="btn btn-link">Sair</button>
    </div>

</div>
  