<div style="text-align:center; margin-top: 50px;">

    <h2>Salvar Informações na Planilha Google e envia imagem para o Google Drive</h2>

    <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome">

    <div *ngIf="imageUrl">
        <h3>Pré-visualização:</h3>
        <img [src]="imageUrl" alt="Pré-visualização da imagem" width="200">
    </div> 

    <div class="container mt-5">
        <input type="file" (change)="onFileSelected($event)" [disabled]="!userName" />
        <button (click)="uploadFile()" [disabled]="!selectedFile">Upload</button>
    </div>

    <div *ngIf="successMessage" style="color: green; margin-top: 20px;">
        {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" style="color: red; margin-top: 20px;">
        {{ errorMessage }}
    </div>    
    
</div>
  