.container{
  text-align: center;
  height: max-content;
  padding: 0 0 20px 0;
}

.subtitulo{
  font-size: 16px;
  font-weight: 300;
  color: var(--gray-color);
  margin: 0px 0px 30px 0px;
  padding: 0;
  text-align: center;
}

.div__message_erro{
  color: red;
  font-weight: 500;
  font-size: medium;
  display: grid;
  place-items: center;
  margin: 30px 0px;
}

h3  {
    margin: 50px 0px 0px 0px;
    text-align: center;
}

table {
    width: 100%;

}
  
th.header {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
td {
    background-color: #f9f9f9;
    color: #212529;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  tr:hover {
    font-weight: 600;
    cursor: pointer;
  }  
