<div class="page__layout">
    <!-- <app-menu class="app__menu"></app-menu> -->
    <div class="page__content">
        <div class="subtitulo">QRCode</div>
        <div class="container">
            <div class="div__qrcode row">
                <div class="qr-container">
                    <div class="text-center d-grid justify-item-center">
                        <h3>AtaOnline</h3>
                        <span>{{urlOrigin}}</span>
                        <img [src]="qrCodeImage" alt="QR Code" />
                    </div>
                </div>
                <app-button class="btn-submit-form" (click)="downloadQRCode()"
                    [textButton]="btnDownloadQRCode"></app-button>
            </div>
        </div>
    </div>
</div>