<div class="row justify-content-between">
    <div class="col-8">
        <app-button [textButton]="btnCadastrarEvento" (click)="openModalEventoCadastrar()"></app-button>
    </div>
    <div class="col-4">
        <button (click)="getListaEvento()" class="btn btn-link" alt="recarregar">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</div>

@for (evento of eventos; track $index) {
    <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
            <mat-card-title>{{ evento.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ evento.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
              {{evento.status}} - {{evento.data}} | {{evento.hora}}
            </div>
            <div class="text-body-secondary">
                <small>{{evento.bRestritoParaInLoco ? "Só permite registro no local" : ""}}</small>
            </div>
          </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button 
                    (click)="confirmarOuExcluir(evento.id)" 
                    [ngClass]="{ 'confirmar-excluir': eventoParaExcluir === evento.id }"
                    class="btn btn-link btn__excluir"
                    alt="deletar">
                @if (loadingEventoId === evento.id) {
                    <mat-spinner diameter="20"></mat-spinner>
                } @else {
                    <mat-icon>
                        {{ eventoParaExcluir === evento.id ? 'warning' : 'delete' }}
                    </mat-icon>
                    {{ eventoParaExcluir === evento.id ? 'Confirmo excluir' : '' }}
                }
            </button>
            <button mat-button (click)="openModalEvento(evento)" class="btn btn-link btn__openModal" alt="editar">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
} @empty {
    <p>Nenhum item encontrado!</p>
    <p>Se você tem eventos e não apareceram <a (click)="getListaEvento()">Clique Aqui</a> para se feita uma nova busca </p>
}

<app-loading [show]="isLoading" message="Carregando dados..."></app-loading>

<!-- 
<div *ngFor="let evento of eventos">
    
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{ evento.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ evento.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button>detalhes</button>
        </mat-card-actions>
    </mat-card>
</div> -->

