<div class="row justify-content-between">
    <div class="col-8">
        <app-button [textButton]="btnCadastrarEvento" (click)="openModalEventoCadastrar()"></app-button>
    </div>
    <div class="col-4">
        <button (click)="getListaEvento()" class="btn btn-link">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</div>

@for (evento of eventos; track $index) {
    <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
            <mat-card-title>{{ evento.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ evento.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              {{evento.status}} - {{evento.data}} | {{evento.hora}}
            </p>
          </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button (click)="openModalEvento(evento)" class="btn btn-link" alt="editar">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
} @empty {
    <p>Nenhum item encontrado!</p>
}

<!-- 
<div *ngFor="let evento of eventos">
    
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{ evento.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ evento.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button>detalhes</button>
        </mat-card-actions>
    </mat-card>
</div> -->

