<button 
    class="btn__"
    [ngClass]="['btn', btnColor, display, size]"
    [ngStyle]="{ height: btnHeight + 'px', width: btnWidth + 'px' }"
    [disabled]="disabled">

    <ng-container *ngIf="!loading">
        <i *ngIf="icon" [ngClass]="icon"></i>
        {{ textButton }}
    </ng-container>
    @if(loading) {
        <div class="d-flex justify-content-around mx-2">
            <div>{{textButtonLoading}}</div> 
            <mat-spinner [diameter]="24" [color]="colorSpinner"></mat-spinner>
        </div>
    }
    
</button>