<div class="login-container">
    <h1 class="titulo"> AtaOnline</h1>
    <h1 class="subtitulo">Entrar</h1>    

    <form class="login-form" [formGroup]="loginForm">
        <mat-form-field class="login-full-width">
            <mat-label>Usuário</mat-label>
            <input class="input__form" type="text" matInput placeholder="nome de usuário" formControlName="username">
            <mat-hint>Campo usuário</mat-hint>
            @if(loginForm.controls['username'].hasError('required')) {
                <mat-error>Nome de usuário é obrigatório</mat-error>
            }
            @if(loginForm.controls['username'].hasError('minlength')) {
                <mat-error>Nome de usuário tem que ter pelo menos 6 digitos</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="login-full-width">
            <mat-label>Senha</mat-label>
            <input class="input__form" type="password" matInput formControlName="password" minLength="6">
            <mat-hint>Campo senha</mat-hint>
            @if(loginForm.controls['password'].hasError('required')) {
                <mat-error>Senha é obrigatório</mat-error>
            }
            @if(loginForm.controls['password'].hasError('minlength')) {
                <mat-error>A senha tem que ter pelo menos 6 digitos</mat-error>
            }
            @if(loginForm.controls['password'].hasError('specialCharacter')) {
                <mat-error>A senha deve conter um desses caracteres: !, ?, #, $, %, &, *</mat-error>
            }
        </mat-form-field>
        
        <app-button textButton="Acessar" [loading]="loading" [disabled]="disabled" size="100" (click)="login()"></app-button>
        <!-- <button class="btn btn-primary btn__entrar" mat-raised-button (click)="login()" [disabled]="isLoginButtonDisabled">
            @if(!isLoadingButton) {Entrar} @else {<mat-spinner [diameter]="30"></mat-spinner>}
        </button> -->

        @if(errorAuth) {
            <div class="alert alert-danger">
                {{messageLogin}}
            </div>
        } 
        @if(successAuth) {
            <div class="alert alert-success">
                {{messageLogin}}
            </div>
        } 
    </form>

    <button (click)="sair()" class="btn btn-link mt-2">Sair</button>

</div>