.area-login-background{
    height: 100%;
    width: 55%;
    display: block;
    float: left;
    background-image: url('../../../assets/background-login.png');
    background-color: var(--primay-color);
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: repeat-y;
}

.background-gradiente {
    width: 55%;
    height: 100%;
    background: 
        radial-gradient(ellipse at 40% 60%, rgba(94, 185, 219, 0.8) 0%, rgba(35, 99, 125, 0.5) 40%, transparent 80%),
        radial-gradient(circle at 80% 80%, rgba(110, 203, 237, 0.7) 0%, rgba(12, 45, 59, 0.9) 60%, transparent 100%),
        radial-gradient(circle at 10% 10%, #05161c 0%, #0f3442 50%, #225a70 100%);
    background-blend-mode: screen;
    background-color: #081d26;
}

.area-form{
    height: 100%;
    width: 45%;
    float: left;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 767px) { 
    .area-form { width: 100%;}
}

.titulo{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 7px;
    color: var(--primay-color);
    padding: 0;
    margin-bottom: 6px;
}

.subtitulo{
    font-size: 16px;
    font-weight: 300;
    color: var(--gray-color);
    margin: 0px 0px 30px 0px;
    padding: 0;
    text-align: center;
}

.input-form{
    outline: none;
    padding: 8px 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #00000000;
    margin-bottom: 32px;
    transition: 0.3 linear all;
    box-shadow: inset 1px 1px 2px #aaadb980, inset -1px -1px 2px #bebebeb0;
    &:focus{
        border: 1px solid var(--primary-color);
    }
}

.footer{
    position: absolute;
    bottom: 4px;
    font-size: 10px;
    color: var(--primary-color)
}