<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form>
        <h1 class="titulo"> Ata Online</h1>
        <h1 class="subtitulo"> Registro de presença online </h1>

        <!-- <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome"> -->

        <app-button textButton="Acessar" size="100" (click)="redirectHome()"></app-button>
    </form>

    <p class="footer"> 2024 | Desenvolvido por Leandro Melo</p>
</div>
