<div class="container">
    <h4>Capturar Imagem</h4>
    <div class="">
        <div class="mb-1">
            <!-- <app-button textButton="Abrir Camera" (click)="abrirCamera()"></app-button> -->
        </div>
        <video id="video" width="360" height="640" autoplay></video>
    </div>    
    <hr>
    <app-button textButton="Capturar Foto" (click)="capturarFoto()" (click)="enviarValorParaFormComponent()"></app-button>

    <div *ngIf="fotoCapturada">
        <h3>Foto Capturada</h3>
        <img [src]="fotoCapturada" alt="Foto da câmera" width="360">
    </div>


    <!-- <div class="camera-container">
        <video #videoElement width="100%" height="auto" autoplay></video>
        <button (click)="startCamera()">Iniciar Câmera</button>
        <button (click)="stopCamera()">Parar Câmera</button>
    </div> -->

</div>
